#comboDiv {
    width: 100%;
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    #imageContentPane {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .title {
        font-size: 3.5rem;
    }

    .slideText {
        font-size: 2rem;

        li {
            padding-bottom: 2rem;
        }
    }

    .slideImage {
        height: max-content;
        max-height: 60vh;
    }
}