#comboDiv {
    width: 100%;
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    #imageContentPane {
        display: flex;
        justify-content: center;
    }

    .title {
        font-size: 3.5rem;
    }

    .slideText {
        font-size: 2rem;

        li {
            padding-bottom: 2rem;
        }
    }

    .slideImage {
        min-width: 40%;
        max-width: 90%;
    }
}