@import url("../vars.css");

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: light-dark(var(--light-background), var(--dark-background));
    color: light-dark(var(--dark-text), var(--light-text));
}

h1 {
    color: light-dark(var(--fastapi-teal), var(--fastapi-teal));
}

h2 {
    color: light-dark(var(--fastapi-teal), var(--fastapi-teal));
}