@import url("../vars.css");

.pollBar {
    height: 2rem;
    border: 1px;
    border-style: solid;
    border-color: light-dark(var(--github-light-grey), var(--github-light-grey));
    border-radius: .5rem;
}

.filledPoll {
    border-radius: .5rem;
    text-wrap: nowrap;
    height: 2rem;
    background-color: var(--fastapi-teal);
    display: flex;

    p {
        margin: 0;
        padding: 0 .5rem;
        color: light-dark(var(--dark-text), var(--light-text));
        font-size: 1.5rem;
    }
}