@import url("../vars.css");

.voting-option {
    padding: 1rem;

    border: 4px;
    border-style: solid;
    border-color: transparent;
    border-radius: 1rem;

    font-size: 2rem;
    background-color: var(--fastapi-teal);
    color: white;
    box-shadow: 5px 5px 5px light-dark(var(--github-dark-grey), var(--near-black));

    &.true {
        border-color: var(--sqlmodel-purple);
        /* box-shadow: 5px 5px 5px var(--sqlmodel-purple); */
    }

    &:active {
        box-shadow: 2px 2px 5px light-dark(var(--github-dark-grey), var(--near-black));
        transform: translateY(2px);
    }
}